                       
    <h3>Creato da <b><%= User.find(group.user_id).name %></b></h3>   				
    <h5>Data: <b><%= group.datetime.strftime("%d/%m/%Y Ore: %H:%M") %></b></h5>
    <h5>Luogo: 
    <b><a href='/exams/<%=group.exam_id%>/groups/<%= group.id %>' target=”_blank”><%= group.location %></a></b>
    </h5>
    <h5>Descrizione: <b><%= group.message %></b></h5>
    <% if Member.where(:group_id => group.id ).count > 0  %>
    
    
        <h5>Partecipanti: 
        
        
        
        <% Member.where(:group_id => group.id ).each do |member|  %>
            <% User.where(:id => member.user_id).each do |utente| %>
            
            <div class="col-md-12">

        		
            <b><%= utente.name %></b>
                <% if current_user.id == utente.id %>  
                    <b><%= link_to "X", exam_group_member_path(group.exam, group, member), method: :delete, data: { confirm: "Sei sicuro?" }, class: "btn btn-link" %> </b>		
                <% else %>
                    <b><%= link_to "O", "#", class: "btn btn-link" %> </b>	
                <% end %>	
                
            </div>
            <% end %>
        <% end %>
        </h5>
        
        
    <% end %>
    
    
    <% if Member.where(:group_id => group.id, :user_id => current_user.id ).count == 0  %>
    
    <%= link_to "Partecipa", new_exam_group_member_path(group.exam, group), class: "btn btn-default" %>
    
    <% end %>
    
    
    
    
    <% if group.user_id == current_user.id %>

			<div class="links btn-group">

				<%= link_to "Edit", edit_exam_group_path(group.exam, group), method: :get, class: "btn btn-warning" %>
				<%= link_to "Delete", exam_group_path(group.exam, group), method: :delete, data: { confirm: "Sei sicuro?" }, class: "btn btn-danger" %>

			</div>
		
	<% end %>	

