                       
    <h3>Creato da <%= User.find(group.user_id).name %></h3>   				
    <h5>Data: <%= group.datetime.strftime("%d/%m/%Y Ore: %H:%M") %></h5>
    <h5>Luogo: 
    <a href='/exams/<%=group.exam_id%>/groups/<%= group.id %>' target=”_blank”><%= group.location %></a>
    </h5>
    <h5>Descrizione: <%= group.message %></h5>
    <h5>Partecipanti: 
    
    <% Member.where(:group_id => group.id ).each do |member|  %>
    <% User.where(:id => member.user_id).each do |utente| %>
    <h4><%= utente.name %></h4>
    <% if current_user.id == utente.id %>  
        <%= link_to "Annulla", exam_group_member_path(group.exam, group, member), method: :delete, data: { confirm: "Sei sicuro?" }, class: "btn btn-danger" %> 		
    <% end %>	
    
    
    <% end %>
    <% end %>
    
    </h5>
    
    <%= link_to "Partecipa", new_exam_group_member_path(group.exam, group), class: "btn btn-default" %>
    
    
    
    
    
    
    <% if group.user_id == current_user.id %>

			<div class="links btn-group">

				<%= link_to "Edit", edit_exam_group_path(group.exam, group), method: :get, class: "btn btn-warning" %>
				<%= link_to "Delete", exam_group_path(group.exam, group), method: :delete, data: { confirm: "Sei sicuro?" }, class: "btn btn-danger" %>

			</div>
		
	<% end %>	

