

<% if current_user %>  
    
    
    <% if Member.where(:user_id => current_user.id ).count > 0  %>
	<div class="row">
	    
	    <h1>Gruppi </h1>
	    <div class="col-md-12">
	    <% Member.where(:user_id => current_user.id ).each do |member|  %>
	        <% Group.where(:id => member.group_id).each do |group| %>
	        
	        <h3>Creato da <b><%= User.find(group.user_id).name %></b> in <a href="/exams/<%= group.exam.id %>"><b><%= Exam.find(group.exam_id).nome %></b></a></h3>   				
            <h5>Data: <b><%= group.datetime.strftime("%d/%m/%Y Ore: %H:%M") %></b></h5>
            <h5>Luogo: 
            <b><a href='/exams/<%=group.exam_id%>/groups/<%= group.id %>' target=”_blank”><%= group.location %></a></b>
            </h5>
            <h5>Descrizione: <b><%= group.message %></b></h5>
	        
	        
	        <% end %>	
        <% end %>
    </div></div>	
    <% end %>
    
    <% if Tutor.where(:user_id => current_user.id ).count > 0  %>
	<div class="row">
	    
	    <h1>Tutoraggi </h1>
	    <div class="col-md-12">
	    <% Tutor.where(:user_id => current_user.id ).each do |tutor|  %>
	        <% Exam.where(:id => tutor.exam_id).each do |exam| %>
	        <a href="/exams/<%= exam.id %>">
    					
    				
	            <h4><b><%= exam.nome %></b></h4>
	        </a>
	        
	        <% end %>	
        <% end %>
        </div>
    </div>	
    <% end %>
    
    
    <% if @exams.count == 0 %>
        <h1>There are no exams currently in this category</h1>

    
    <% else %>
    
        <div class="row">
            <h1>Esami</h1>
    		<% @exams.each do |exam| %>
    
    			<div class="col-md-12">
    				<a href="/exams/<%= exam.id %>">
    					<h2><%= exam.nome %></h2>
    				</a>
    			</div>	
    
    		<% end %>
    		<% if current_user.id == 1 %>  
                        <%= link_to "Add Exam", new_exam_path, class: "btn btn-primary"  %>
                        		
            <% end %>
    
    	</div>
    
    
        
    <% end %>


<% else %>
  
   <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">                                                
                        <div class="panel panel-primary">         	
                            <div class="panel-heading"><h1>Benvenuto in UniGroup</h1></div>
                            <div class="panel-body">
                                <h3>Semplifichiamo la tua vita universitaria</h3>
                                
                                <hr class="intro-divider">
                                <a href = "/auth/facebook" id = "sign_in" class="btn btn-social btn-facebook btn-lg">
                                  <i class="fa fa-facebook"></i> Accedi con Facebook
                                </a>
                                
                                <hr class="intro-divider">
                                <ul class="list-inline intro-social-buttons">
                                   
                                    <li>
                                        <a href="https://github.com/nikoasr/Progettazione" target=”_blank” class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/in/nicolò-cardamone-40644a124" target=”_blank” class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>                        

<% end %>
    