

<% if current_user %>  
    <% if Tutor.where(:user_id => current_user.id ).count > 0  %>
	<div class="row">
	    
	    <h1>Tutoraggi attivi:</h1>
	    <div class="col-md-12">
	    <% Tutor.where(:user_id => current_user.id ).each do |tutor|  %>
	        <% Exam.where(:id => tutor.exam_id).each do |exam| %>
	        
	        <h4><b><%= exam.nome %></b></h4>
	        
	        
	        <% end %>	
        <% end %>
    </div></div>	
    <% end %>
    
    <% if Member.where(:user_id => current_user.id ).count > 0  %>
	<div class="row">
	    
	    <h1>Gruppi attivi:</h1>
	    <div class="col-md-12">
	    <% Member.where(:user_id => current_user.id ).each do |member|  %>
	        <% Group.where(:id => member.group_id).each do |group| %>
	        
	        <h3>Creato da <b><%= User.find(group.user_id).name %></b> in <b><%= Exam.find(group.exam_id).nome %></b></h3>   				
            <h5>Data: <b><%= group.datetime.strftime("%d/%m/%Y Ore: %H:%M") %></b></h5>
            <h5>Luogo: 
            <b><a href='/exams/<%=group.exam_id%>/groups/<%= group.id %>' target=”_blank”><%= group.location %></a></b>
            </h5>
            <h5>Descrizione: <b><%= group.message %></b></h5>
	        
	        
	        <% end %>	
        <% end %>
    </div></div>	
    <% end %>
    
    
    
    
    <% if @exams.count == 0 %>
        <h1>There are no exams currently in this category</h1>

    
    <% else %>
    
        <div class="row">
            <h1>Esami</h1>
    		<% @exams.each do |exam| %>
    
    			<div class="col-md-12">
    				<a href="/exams/<%= exam.id %>">
    					<h2><%= exam.nome %></h2>
    				</a>
    			</div>	
    
    		<% end %>
    		<% if current_user.id == 1 %>  
                        <%= link_to "Add Exam", new_exam_path, class: "btn btn-primary"  %>
                        		
            <% end %>
    
    	</div>
    
    
        
    <% end %>


<% else %>
  
    <h1>Effettua il login per utilizzare il sito aggiungo intro robbs</h1>

<% end %>
    