<% if current_user %>  
    <div class="row">
    
    	<div class="col-md-4">
    
    
    	</div>
    
    	<div class="col-md-8">
    
    		<div class="book-info">
    
    			<h2 ><%= @exam.nome %></h2>
    			<h3 ><span>Prof.</span> <a href = "<%= @exam.sito %>"  target=”_blank”><%= @exam.professore %></a></h3>
    
    		</div>
    	</div>
    
    
    </div>
    
    <div class="row">
    
    	<div class="col-md-12">
    
    		
    
    			<!-- Where the reviews/ratings will go -->
    			<h1>Gruppi di studio</h1>
    			
    
    			<div>
    				<%= link_to "Aggiungi Gruppo", root_path, class: "btn-custom" %>
    			</div>
    
    	</div>	
    		
    	<div class="col-md-12">
    
    		<div>
    
    			<!-- Where the reviews/ratings will go -->
    			<h1>Difficoltà</h1>
    			
    
    			<div>
    				<%= link_to "Aggiungi Difficoltà", root_path, class: "btn-custom" %>
    			</div>
    
    		</div>	
    
    	</div>
    	
    		
    

    </div>
    
   
<% end %>
