    <div class="row">
    
    
    	<div class="col-md-offset-4">
    
    		<div >
    
    			<h2 ><%= @exam.nome %></h2>
    			<h3>
    			     <span>Prof.</span> 
    			     <a href = "<%= @exam.sito %>"  target=”_blank”><%= @exam.professore %> </a>
    			        <% if @exam.professore2 != "" %>, 
    			        
    			            <a href = "<%= @exam.sito %>"  target=”_blank”><%= @exam.professore2 %> </a>
    			        
    			        <% end %>
    			        
    			     </a>
    			 </h3>
    
    		</div>
    		<div class="links btn-group">	
            	<% if current_user.id == 1 %>  
                        <%= link_to "Edit", edit_exam_path(@exam), class: "btn btn-warning" %>
        			    <%= link_to "Delete", exam_path(@exam), method: :delete, data: { confirm: "Sei sicuro?" }, class: "btn btn-danger" %>    		
            	<% end %>	
            </div>	
    	</div>
        
    
    </div>
    
    <div class="row">
    
    	<div class="col-md-6">
    
    		
    
    			<!-- Where the reviews/ratings will go -->
    			<h1>Gruppi di studio</h1>
    			
    
        		<div class="col-md-12">
        			<%= render @exam.groups %>
        			
        		</div>	
    
    		    
    
    			<div>
    				<%= link_to "Aggiungi Gruppo", new_exam_group_path(@exam),  method: :get, class: "btn btn-default" %>
    			</div>
    
    	</div>	
    		
    	<div class="col-md-6">
    
    		<div>
    
    			<!-- Where the reviews/ratings will go -->
    			<h1>Difficoltà</h1>
    			
    
    			<div>
    				<%= link_to "Aggiungi Difficoltà", root_path, class: "btn btn-default" %>
    			</div>
    
    		</div>	
    
    	</div>
    	

    </div>
    
    
    
   

